.tiles-scrollbar{
    position: relative;
    background-color: antiquewhite;
    font-size: 30px;
    align-content: center;
}

div.card-body{
    width: 100px;
    background-color: aliceblue;
    font-size: 15px;
    padding: 5px;
}

div.card{
    padding: 5px;
    cursor: pointer;
}
